<a href="https://colab.research.google.com/github/DiegoRInacio/Analise_de_dados/blob/main/Exercicios_em_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Estudo sobre Banco de dados 

Exercicios focados em SQL!


# Exercícios:

**1. A) Criar uma tabela chamada dados_cadastrais1 onde cada linha representa um funcionário contendo os seguintes atributos: Id, nome, sobrenome, data_nasci, cpf e endereco.**


**1. B) criar uma tabela chamada dados_profissionais contendo os seguintes atributos: id, graduacao, cargo, salario e tempo_casa.**

In [ ]:
#Definindo Variável com identificação do profissional que realizou a taréfa

nome = 'Diego Ramos Inácio'

#Importando sqlite3
import sqlite3

#Realizanondo a conecção ou criação de banco de dados:

conn = sqlite3.connect('modulo4.db')
cursor = conn.cursor()

In [ ]:
#Criando a Tabela 1

###INFORMÇÃO IMPORTANTE###
#Obs.: Foi criada a tabela (dados_cadastro), pois a tabela dados_cadastrais já esxistia!!!
###INFORMÇÃO IMPORTANTE###

cursor.execute("CREATE TABLE dados_cadastrais3 (Id integer, nome txt, sobrenome txt, data_nasci integer, cpf inteiro,\
                endereco text)");

#Criando a Tabela 2
cursor.execute("CREATE TABLE dados_profissionais3 (Id integer, graduacao txt, cargo txt, salario float, tempo_casa inteiro)");

In [ ]:
#Inserir dados na tabela 1

cursor.execute("INSERT INTO dados_cadastrais3 VALUES(1, 'Maria', 'Silva', 0, 11111211313, 'rua 1 - SP')")
cursor.execute("INSERT INTO dados_cadastrais3 VALUES(2, 'Joao', 'Silva', 0, 11111211889, 'rua 2 - SP' )")
cursor.execute("INSERT INTO dados_cadastrais3 VALUES(3, 'Pedro', 'Pereira', 0, 11111211789, 'rua 3 - SP')")
cursor.execute("INSERT INTO dados_cadastrais3 VALUES(4, 'Paulo', 'Ribeiro', 0, 11111211123, 'rua 4 - SP')")
conn.commit()

In [ ]:
#Vizualizando Tabela 1

cursor.execute("SELECT * FROM dados_cadastrais3")
cursor.fetchall()

[(1, 'Maria', 'Silva', 0, 11111211313, 'rua 1 - SP'),
 (2, 'Joao', 'Silva', 0, 11111211889, 'rua 2 - SP'),
 (3, 'Pedro', 'Pereira', 0, 11111211789, 'rua 3 - SP'),
 (4, 'Paulo', 'Ribeiro', 0, 11111211123, 'rua 4 - SP')]

In [ ]:
#Inserindo dados Tabela 2

cursor.execute("INSERT INTO dados_profissionais3 VALUES(1, 'matematica', 'professor', 3500.89, 3)")
cursor.execute("INSERT INTO dados_profissionais3 VALUES(2, 'geografia', 'orientador', 2850.8, 1)")
cursor.execute("INSERT INTO dados_profissionais3 VALUES(3, 'historia', 'orientador', 3200.45, 1)")
cursor.execute("INSERT INTO dados_profissionais3 VALUES(4, 'fisica', 'professor', 1890.33, 2)")
conn.commit()

In [ ]:
#Vizualização dos dados da tabela 2

cursor.execute("SELECT * FROM dados_profissionais3")
cursor.fetchall()

#Essa parte finaliza o primeiro exercício

[(1, 'matematica', 'professor', 3500.89, 3),
 (2, 'geografia', 'orientador', 2850.8, 1),
 (3, 'historia', 'orientador', 3200.45, 1),
 (4, 'fisica', 'professor', 1890.33, 2)]

**Exercício 2: Retornando dados ordenados de forma decrescente através de uma qyery na tabela dados_profissionais usando o campo tempo de casa.**

In [ ]:
cursor.execute("SELECT * FROM dados_profissionais3 ORDER BY tempo_casa DESC")
cursor.fetchall()

[(1, 'matematica', 'professor', 3500.89, 3),
 (4, 'fisica', 'professor', 1890.33, 2),
 (2, 'geografia', 'orientador', 2850.8, 1),
 (3, 'historia', 'orientador', 3200.45, 1)]

**3. Contar a quantidade de funcionarios dessa empresa**

In [ ]:
cursor.execute("SELECT COUNT(Id) FROM dados_profissionais3")
cursor.fetchall()

[(4,)]

**Exercício 4: Através da Tabela (dados_cadastrais3) foi realizada uma query que liste apenas funuconários que possuem sobrenome "SILVA" ordenado pelo nome completo sendo assim nome e sobrenome.**

In [ ]:
cursor.execute("SELECT * FROM dados_cadastrais3 WHERE sobrenome == 'Silva' ORDER BY nome ASC")
cursor.fetchall()

[(2, 'Joao', 'Silva', 0, 11111211889, 'rua 2 - SP'),
 (1, 'Maria', 'Silva', 0, 11111211313, 'rua 1 - SP')]

**5 Realizando um query que liste o valor da fola de pagamento dessa empresa por cargo usando a tabela dados_profissionais3, ou seja, será somado o salário para cada cargo existente na tabela 2**

In [ ]:
cursor.execute("SELECT cargo, SUM(salario) FROM dados_profissionais3\
                GROUP BY cargo")
cursor.fetchall()

[('orientador', 6051.25), ('professor', 5391.219999999999)]